@{
    ViewData["Title"] = "Home Page";
}
@model Form
<div class="text-center">
    <h1 class="display-4">Date Validator</h1>
    <div class="w-25 mx-auto">
        <form action="/process" method="post">
            <label asp-for="FormDate" class="form-label"></label>
            <input asp-for="FormDate" class="form-control">
            <div class="mt-3"><span class="text-danger" asp-validation-for="FormDate"></span></div>
            <div><button class="btn btn-success mt-3">Submit Date</button></div>
        </form>
    </div>
    
</div>
